


.header{
    border-bottom: 1px solid $border-buttom-color;
    
    & .container{
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 25px;
        background: $white-color;
        }
}
    

    