
.permanent-clients{
    padding-bottom: 94px;
    padding-top: 94px;

    &-list{
        list-style: none;
        display: flex;
        justify-content: center;
        }
    }
    
.permanent-item{
    width: 170px;
    height: 90px; 

    &:not(:last-child){
        margin-right: 30px; 
        } 
    }
    
.permanent-link{
    display: block;
    width: 170px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    fill:$svg-state-color;
    transition:$animation-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   
    &:hover,
    &:focus{
        border: 1px solid $accent-color;
        }
        
    &:hover .permanent-svg,
    &:focus .permanent-svg {
        fill: $accent-color;
        }

}
    
.permanent-svg{
    transition:$animation-fill;
    }
    
