

$accent-color: #2196f3;
$white-color: #FFFFFF;
$black-color:#212121;
$gray-color:#757575;
$border-buttom-color: #ECECEC;
$li-border-color:#EEEEEE;

$fon-color:#2F303A;
$another-fon-color:#F5F4FA;
$btn-color: #2196F3;
$footer-adress-color:rgba(255, 255, 255, 0.6);
$svg-state-color: #AFB1B8; 

$animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-background: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);



$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;



